{% extends 'base.html' %}
{% block title %}{{ home }} {% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %} 
    <div class="container  ">
        <div class="row align-items-start">
            <div class="col-md-12">
                <div class="card my-3">
                    <div class="card-header">
                        <h1 class="text-center">Statistics</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card text-center p-3">
                                    <h4>Registered Users</h4>

                                    <h3><span class="badge bg-primary rounded-pill">{{ usuarios_cantidad }}</span></h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card text-center p-3">
                                    <h4>All videojuegos <i class="fa-thin fa-users"></i></h4>
                                    <h3><span class="badge bg-primary rounded-pill">{{ videojuegos_cantidad }}</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row align-items-start">
            <div class="col-md-6">
                <div class="card my-3">
                    <div class="card-header">
                        <h1 class="text-center">Users</h1>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">User Name</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                <tr>
                                    <td>{{ usuario.username }}</td>
                                    <td>{{ usuario.first_name }}</td>
                                    <td>{{ usuario.last_name }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a class="nav-link text-primary active" aria-current="page" href="{% url 'users' %}">View All
                            Staff</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card my-3">
                    <div class="card-header">
                        <h1 class="text-center">Videojuegos</h1>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for videojuego in videojuegos %}
                                <tr>
                                    <td>{{ videojuego.juego_nombre }}</td>
                                    <td>{{ videojuego.juego_cantidad }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a class="nav-link text-primary active" aria-current="page" href="{% url 'videojuegos' %}">Go to
                            Videojuegos </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% else %}
<div></div>
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">COMPRA UN JOGO</h4>
                </div>
                <div class="card-body">
                    <a class="btn btn-info" href="{% url 'videojuegos' %}">Create Order</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Here is a list of your Orders</h4>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Ordered Product</th>
                        <th scope="col">Created by</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Order Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    {% if order.created_by.username == user.username %}
                    <tr>
                        <td>{{ order.product }}</td>
                        <td>{{ order.created_by.username }}</td>
                        <td>{{ order.order_quantity }}</td>
                        <td>{{ order.date }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
