{% extends 'base.html' %}
{% block title %}{{ profile }} {% endblock %}
{% load static%}
{% block content %}
<div class="container my-4">
    <div class="row align-items-start">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Perfil del Usuario</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card text-center p-3">
                                <h4>Información personal</h4>
                                <br>
                                <table class="table bg-white table-borderless">
                                    <tbody>
                                        <tr>
                                            <th scope="col">Nombre Usuario</th>
                                            <td scope="col">{{ user.username }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Nombre Completo</th>
                                            <td scope="col">{{ user.first_name }} {{user.last_name}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Correo electronico</th>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Telefono</th>
                                            <td>{{ user.userprofile.mobile }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Dirección</th>
                                            <td>{{ user.userprofile.physical_address }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img style=" width: auto; height: auto;" class="img-thumbnail" src="{% static 'img/blank-profile-pic.png' %}" alt="profile picture">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
