{% extends 'base.html' %}
{% block title %}{{ header }} {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container card-containerP">
    <div class="row">
        <div class="col-md-12">
            <div class="card-containerP">
                {% for x in videojuegos%}
                <div class="cardP">
                    <img src="{{x.juego_image.url}}" alt="{{x.juego_nombre}}"> 
                    
                    <div>
                        <h3>{{x.juego_nombre}}</h3>
                        <p>{{x.juego_descripcion}}</p>
                        <h4>Precio: {{x.juego_precio}}</h4>
                        <a href="{% url 'juego_pagina' slug=x.slug %}" class="btn">Revisar</a>
                    </div>
                </div>

                {% endfor %}

            </div>




        </div>
        {% if user.is_staff and user.is_superuser %}
        <div class="col-md-4">
            <form method="POST">
                <h4>Add a New Product</h4>
                <hr>
                {% csrf_token %}
                {{ form|crispy}}
                <br>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
        {% else %}
        <div class="col-md-4">

        </div>
        {% endif %}
    </div>
</div>
{% endblock %}



<!--  
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">price</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for videojuego in videojuegos %}
                    <tr>
                        <td>{{ videojuego.juego_nombre }}</td>
                        <td>{{ videojuego.juego_cantidad }}</td>
                        <td>{{ videojuego.juego_precio }}</td>
                        <td>{{ videojuego.juego_descripcion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
-->
